*{
    margin: 0;
    padding: 0;
    
}

:root{
    --bg-color:#fcf3f3;
    --font-color:#323232;
    --cont-bg:#fcfcfc;
    --color-gray:rgb(48, 46, 46);
    --color-white:#f0efef;
}
body{
    background-color: var(--bg-color);
    font-family: Helvetica, sans-serif
}
.container{
    background-color: var(--cont-bg);
    width:50%;
    height: 700px;
    box-sizing: border-box;
    padding: 35px 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 1rem;
    box-shadow: 6px 6px 18px rgba(0, 0, 0, 0.16), -6px -6px 18px #ffffff;
    z-index: -1;
}

h1{
    color: var(--font-color);
    text-align: center;
    text-transform: capitalize;
}

.hand-sign{
    background-color: none;
    height :350px;
    margin-top: 3em;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
}
.container-sm{
    background-color: #ffffff;
    width: 30%;
    height: 300px;
    border-radius: 1rem;
    box-shadow: 3px 3px 4px rgba(185, 179, 179, 0.16), -3px -3px 4px #f0eeee71;
    position: relative;
    cursor: pointer;
}
.container-sm:hover,.container-sm:focus{
    box-shadow: 10px 10px 10px rgba(185, 179, 179, 0.404), -10px -10px 10px rgba(240, 238, 238, 0.822);
}
.paper,.scissors,.rock{
    width: 10em;
    height: 10em;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%,-50%);
}
h2{
    color: var(--color-gray);
    text-align: center;
    font-size: 2.25em;
    position: absolute;
    bottom: 15%;
    left: 50%;
    transform: translateX(-50%);
    font-weight: normal;
    letter-spacing: 0.5px;

}
.score-area{
    margin-top:  3%;
    width: 95%;

    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.scoreboard{
    height: 3em;
    width: 12.5em;
    border-radius: 1.25rem;
    background-color: rgba(226, 226, 226, 0.692);
    color: var(--color-gray);
    text-transform: capitalize;
    text-align: center;
    box-sizing: border-box;
    padding: 0.75em 1em;
    font-weight: 600;
}
.lastResult{
    margin-top: 5%;
    text-align: center;
    padding: 10px 2.5%;
    border-radius: 0.5rem;
    width: 97.5%;
    text-align: center;
    font-weight: 600;
    letter-spacing: 2px;
}

.overlay{
    transition: 1s ease-in-out;
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-box{
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 15px;
    width: 30%; /* Could be more or less, depending on screen size */
    height: 45%;
    border-radius: 0.5rem;
}
.won{
    display: none;
    background-color: #69d885;
}
.loss{
    display: none;
    background-color: rgb(230, 139, 139);
}
.close{
    font-size: 3em;
    color: rgb(255, 255, 255);
    box-sizing: content-box;
    position: absolute;
    top: 0;
    right: 5.5%;
    cursor: pointer;
    transition:  0.5s ease-in-out;
}
.close:hover{
    color: rgb(235, 44, 44);
}
.box-body{
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 75%;
    margin-top: 2.5%;
}
.icon-tick{
    border: solid 0.35em #1d9b3b;
    border-radius: 50%;
    width: 7.5em;
    height: 7.5em;
    text-align: center;
    padding: 0.15em;
}


.icon-cross{
    border: solid 0.35em #f53535;
    border-radius: 50%;
    width: 8em;
    height: 8em;
    text-align: center;
    padding: 0.01em;
}
.check,.cross{
    font-size: 4.5em;
    font-weight: bolder;
    color: #1c9237;
}
.cross{
    color: #f53535;
    font-weight: 200;
    font-size: 5em;
}
.box-body p{
    color: var(--color-white);
    font-size: 1.5em;
    letter-spacing: 2.5px;
    text-transform: capitalize;
    font-weight: 600;
}

.box-body button{
    box-sizing: border-box;
    border: none;
    border-radius: 0.25rem;
    padding: 0.75em 2em;
    text-transform: capitalize;
    
    color: #ffffff;
    transition: 0.5s ease-in-out;
}
.wbtn:hover{
    background-color: #14af38;
}
.lbtn:hover{
    background-color: #af1414;
}
.wbtn{
    background-color: #178a32;
}
.lbtn{
    background-color: #8a1717;
}