* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:root {
  --bg-color:#e7e7e7;
  --cont-bg:#ffffff;
  --shadow-up:#ffffffb0;
  --shadow-dwn:#b9b9b9;
  --primary-font-color:#1d1d1d;
  --secondary-font-color:gray;
  --field-color:#e6e6e6;
  --primary-btn_hover-clr:#3342cf;
  --primary-btn-clr:#5866e4;
  --btn-font-clr:#f3f3f3;
  --secondary-btn-clr:#ab5ae0;
  --secondary-btn_hover-clr:#b762f0;
  --circle-bg:#d6d3d3;
  --circle-clr:#ffffff;
  --win-bg:#c2f3ce;
  --win-font-clr:#1C592A;
  --loss-bg:#FEEFEF ;
  --loss-font-clr:#DA1414;
}

.darkmode {
  --bg-color:#242333;
  --cont-bg:#1c1c27;
  --shadow-up:rgba(17, 16, 16, 0.5);
  --shadow-dwn:rgba(0, 0, 0, 0.5);
  --primary-font-color:#f8f8f8;
  --secondary-font-color:#868585;
  --field-color:#333241;
  --primary-btn_hover-clr:#3342cf;
  --primary-btn-clr:#5866e4;
  --btn-font-clr:#f3f3f3;
  --secondary-btn-clr:#ab5ae0;
  --secondary-btn_hover-clr:#b762f0;
  --circle-bg:#4ca9e7;
  --circle-clr:#ffffff;
  --loss-bg:#f8c0c0 ;
  --loss-font-clr:#dd2525;
}

body {
  background-color: var(--bg-color);
  color: var(--primary-font-color);
  font-family: Roboto, sans-serif;
}

body .container {
  background-color: var(--cont-bg);
  border-radius: 0.6rem;
  width: 60%;
  padding: 35px 50px;
  -webkit-box-shadow: 2px 2px 5px var(--shadow-dwn), 2px 2px 10px var(--shadow-up);
          box-shadow: 2px 2px 5px var(--shadow-dwn), 2px 2px 10px var(--shadow-up);
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

body .heading p {
  color: var(--secondary-font-color);
}

body .form {
  margin-top: 2.5%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 2em;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  align-items: center;
}

body .form .guessField, body .form .guessSubmit, body .form .Reset {
  border-radius: 0.5rem;
  border: none;
  background-color: var(--field-color);
  color: var(--primary-font-color);
  padding: 0.3em;
  text-align: center;
}

body .form .guessField:focus, body .form .guessField:active {
  border: none;
  outline: none;
}

body .form .guessSubmit {
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  padding: 0.35em 1em;
  font-size: 1.2em;
  background-color: var(--primary-btn-clr);
  color: var(--btn-font-clr);
}

body .form .guessSubmit:hover {
  background-color: var(--primary-btn_hover-clr);
}

.resultParas {
  display: none;
  margin-top: 2.5%;
  -webkit-transition: all 10s ease-in-out;
  transition: all 10s ease-in-out;
}

.lastResult {
  margin-top: 3%;
  text-align: left;
  padding: 0.5em 2.5%;
  border-radius: 0.5rem;
  width: 45%;
}

.Reset {
  display: none;
  float: right;
  background-color: var(--secondary-btn-clr);
  color: var(--btn-font-clr);
  margin-bottom: 2%;
  margin-right: 2%;
  border-radius: 0.5rem;
  border: none;
  padding: 0.5em 1em;
}

.Reset:hover {
  background-color: var(--secondary-btn_hover-clr);
}

.win {
  background-color: var(--win-bg);
  color: var(--win-font-clr);
}

.loss {
  background-color: var(--loss-bg);
  color: var(--loss-font-clr);
}

.toggle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.toggle-switch {
  background-color: var(--circle-bg);
  width: 4em;
  height: 2em;
  border-radius: 10em;
  position: absolute;
  cursor: pointer;
}

.toggle-center {
  width: 1.6em;
  height: 1.6em;
  background-color: var(--circle-clr);
  border-radius: 10em;
  position: absolute;
  top: 0.2em;
  left: 0.2em;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.toggle-switch::before {
  content: "Light Mode On";
  position: absolute;
  width: 12.5em;
  left: -7em;
  top: 0.2em;
}

#input-toggle {
  display: none;
}

#input-toggle:checked ~ .toggle-switch::before {
  content: "Dark Mode On";
}

#input-toggle:checked ~ label .toggle-center {
  -webkit-transform: translateX(2em);
          transform: translateX(2em);
}
/*# sourceMappingURL=style.css.map */