* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$bdr-radius: (
  "pill": 1rem,
  "sm": 0.35rem,
  "lg": 1rem,
);

:root {
  --bg-clr: rgb(233, 94, 136);
  --item: #fbfbfb;
  --cont-bg: #f5f6f8;
  --success-bg: #d4edda;
  --success-clr: #155724;
  --primary-clr: #212529;
  --secondary-clr:#6C757D;
  --failure-bg:#F8D7DA;
  --failure-clr:#DC3545;
}

@mixin center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
