
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #e7e7e7;
    font-family: Roboto, sans-serif;
}
.container{
    background-color: white;
    height: auto;
    width: 60%;
    border-radius: 1rem;
    box-sizing: border-box;
    padding: 17.5px 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    box-shadow: 10px 10px 15px #b9b9b9,-10px -10px 15px #ffffffb0;
}
.heading{
    margin-top: 1.5%;
}
p{
    color: gray;
}
.form{
    margin-top: 2.5%;
    align-items: center;
}
.guessField,.guessSubmit,.Reset{
    margin-left: 25px;
    border-radius: 5px;
    border: none;
    background-color: #e6e6e6;
    padding: 5px;
    text-align: center;
}
.guessField:focus{
    border: none;
}
.guessSubmit{
    margin-left: 10%;
    padding: 5px 20px;
    background-color: #4c5be7;
    color: white;
}
.guessSubmit:hover{
    
    background-color: #5866e4;
}
.resultParas{
    margin-top: 2.5%;
}
.lastResult{
    margin-top: 3%;
    text-align: left;
    padding: 5px 2.5%;
    border-radius: 0.5rem;
    width: 45%;
}
.Reset{
    display: none;
    float: right;
    padding: 7.5px 20px;
    background-color: #ab5ae0;
    color: white;
    margin-bottom: 2%;
    margin-right: 2%;
}
.Reset:hover{
    background-color: #b762f0;
}