@import "./root_reset.scss";

body{
    background-color: var(--bg-color);
    color: var(--primary-font-color);
    font-family: $family;

    .container{
        background-color: var(--cont-bg);
        border-radius: 0.6rem;
        width: 60%;
        padding: 35px 50px;
        box-shadow: 2px 2px 5px var(--shadow-dwn),2px 2px 10px var(--shadow-up);
        @include container-center;

    }
    .heading{
        p{
            color: var(--secondary-font-color);
        }
    }
    .form{
        margin-top: 2.5%;
        align-items: center;
        @include flex-center;

        .guessField,.guessSubmit,.Reset{
            border-radius: 0.5rem;
            border: none;
            background-color: var(--field-color);
            color: var(--primary-font-color);
            padding: 0.3em;
            text-align: center;
        }
        .guessField:focus,.guessField:active{
            border: none;
            outline: none;
        }
        .guessSubmit{
            transition: all 0.25s ease-in-out;
            padding: 0.35em 1em;
            font-size: 1.2em;
            background-color: var(--primary-btn-clr);
            color: var(--btn-font-clr);
            
            &:hover{
                background-color: var(--primary-btn_hover-clr);
            }
        }
    }
}

.resultParas{
    display: none;
    margin-top: 2.5%;
    transition: all 10s ease-in-out;
}
.lastResult{
    margin-top: 3%;
    text-align: left;
    padding: 0.5em 2.5%;
    border-radius: 0.5rem;
    width: 45%;
}
.Reset{
    display: none;
    float: right;
    background-color: var(--secondary-btn-clr);
    color: var(--btn-font-clr);
    margin-bottom: 2%;
    margin-right: 2%;
    border-radius: 0.5rem;
    border: none;
    padding: 0.5em 1em;
}
.Reset:hover{
    background-color: var(--secondary-btn_hover-clr);
}

.win{
    background-color: var(--win-bg);
    color: var(--win-font-clr);
}
.loss{
    background-color: var(--loss-bg);
    color: var(--loss-font-clr);
}

.toggle{
    display: flex;
    justify-content: flex-end;
}
.toggle-switch{
    background-color: var(--circle-bg);
    width: 4em;
    height: 2em;
    border-radius: 10em;
    position: absolute;
    cursor: pointer;
}
.toggle-center{
    width: 1.6em;
    height: 1.6em;
    background-color: var(--circle-clr);
    border-radius: 10em;
    position: absolute;
    top: 0.2em;
    left: 0.2em;
    transition: all 0.5s ease-in-out;
}

.toggle-switch::before{
    content: "Light Mode On";
    position: absolute;
    width: 12.5em;
    left: -7em;
    top: 0.2em;
}

#input-toggle{
    display: none;
}
#input-toggle:checked ~ .toggle-switch::before{
    content: "Dark Mode On";
}
#input-toggle:checked ~ label .toggle-center{
    transform: translateX(2em);
}